@media (max-width: 1440px) {
    .store {
        grid-template-columns: 65% 35%;
    }

    .products-container {
        gap: 3em;
    }
}

@media (max-width: 1220px) {
    .nav-container {
        flex-direction: column;
        max-width: 100%;
    }

    .menu-container {
        width: 100%;
        justify-content: space-around;
    }

    .menu-container button {
        display: block;
    }

    .links-container {
        width: 100%;
        position: relative;
        z-index: -1;
    }

    .link-list {
        transform: translateY(-105%);
        width: 100%;
        gap: 2em;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 30px 0;
    }

    .store {
        grid-template-columns: 100%;
    }

    .products {
        padding-bottom: 6rem;
    }

    .products-container {
        justify-content: center;
        gap: 3rem;
    }

    .card {
        max-width: 250px;
    }
}